xml/p3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="p3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Ram </xs:fname>
  <xs:lname> Sharma </xs:lname>
  <xs:mname> K </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 305 </xs:houseno>
	<xs:streetname> Mundkur </xs:streetname>
	<xs:cityname> Udupi </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 82 </xs:marks>
   <xs:hobbies> PLAYING,WATCHING MOVIES </xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Shayam </xs:fname>
  <xs:lname> Verma </xs:lname>
  <xs:mname> P </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 306 </xs:houseno>
	<xs:streetname> Hosabettu </xs:streetname>
	<xs:cityname> Mangalore </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 95 </xs:marks>
   <xs:hobbies> Gardening,Cooking </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>